* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    color: #2C3333;
}

html::-webkit-scrollbar {
    display: none;
}

/*> PC Header */
.pc-header {
    height: 91px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 38px;
    z-index: 1;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.11);
}

.pc-header>.brand-name {
    font-weight: 700;
}

.pc-header>ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
    height: 100%;

}

.pc-header>ul>li {
    height: inherit;
    position: relative;

}

.pc-header>ul>li>a {
    display: flex;
    height: inherit;
    align-items: center;
    text-decoration: none;
    color: #2C3333;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.3s ease;

}

.pc-header>ul>li>a::before {
    position: absolute;
    content: "";
    background-color: #2C3333;
    width: 100%;
    height: 2px;
    bottom: 20px;
    left: 0;
    transform: scaleX(0);
    transition: 0.3s ease;
}

.pc-header>ul>li>a:hover::before {
    transform: scaleX(1);
}

.active::before {
    transform: scaleX(1) !important;

}

.mob-header,
.mob-header-menu {
    display: none;
}

.brand-name {
    color: black;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
}

/*> Mobile Header */

@media (max-width: 768px) {
    .pc-header {
        display: none;
    }

    .mob-header {
        display: flex;
        height: 91px;
        align-items: center;
        justify-content: space-between;
        padding: 0 38px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.11);
    }

    .mob-header-menu {
        height: 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: 0.3s ease;
    }

    .active-menu {
        height: 250px;
        background-color: #000000;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .mob-header-menu>ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .mob-header-menu>ul>li>a {
        text-decoration: none;
        color: #ffffff;
        font-size: 20px;
    }
}


/*> Home */

.home-img {
    width: 100%;
}

.home-page-offer {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
    padding-inline: 120px;
    align-items: center;
}

.home-page-offer>h1 {
    text-align: center;
    font-size: 50px;
    margin: 0;
}


.item-header {
    text-align: center;
    font-size: 50px;
    margin: 0;
    padding: 25px 0;
}

.item-link {
    text-decoration: none;
    border: 2px grey solid;
    transition: .2s ease;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item-page {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    padding-bottom: 50px;
}

.item-img {
    object-fit: contain;
    width: 250px;
    height: 250px;
}

.item-container {
    padding: 20px;

}

.item-link:hover {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.281);
    transform: scale(1.1);
}

.item-more {
    opacity: 0;
    text-align: right;
    transition: .2s ease;
    color: black;
}

.item-link:hover .item-more {
    opacity: 1;
}


.item-title {
    text-decoration: none;
    color: black;
    font-size: 19px;
    width: 250px;
}

.item-price {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 10px 0 40px 0px;
}

@media (max-width: 1100px) {
    .home-page-offer {
        flex-direction: column;
        padding: 0;
    }
}

/*> Offer Detail Page */

.offer-title {
    font-size: 25px;
}

.offer-page {
    display: flex;
    padding: 50px 0 50px 40px;
    width: 100%;
    /* justify-content: space-evenly; */
}

.offer-img-div,
.offer-img {
    width: 500px;
}

.offer-info {
    width: 40%;
    padding: 20px;
}

.offer-price-div {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
    gap: 10px;
    width: 30%;
    padding: 20px;
}

.og-price {
    text-decoration: line-through;
    font-size: 20px;
    margin: 0;
    opacity: 0.6;
}

.offer-price {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}

.offer-description {
    line-height: 2rem;
    font-size: 15px;
}

.offer-info-price-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buy-now-btn {
    text-decoration: none;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    margin: 10px 0px;
    padding: 10px 50px;
    text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
    background: black;
    /* Change this line to set the background color to black */
    transition: all 0.5s ease 0s;
    width: 100%;
    text-align: center;
}

.buy-now-btn:hover {
    box-shadow: rgb(80 63 205 / 50%) 0px 1px 40px;
    transition: all 0.1s ease 0s;
}

.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Adjust the height as needed */
}



@media (max-width: 1100px) {
    .offer-page {
        flex-direction: column;
        text-align: center;
        padding: 0 0 10px 0;
    }

    .offer-img-div,
    .offer-img {
        width: 100%;
        padding-top: 10px;
    }

    .offer-info {
        width: 100%;
        padding: 10px;
    }

    .offer-price-div {
        justify-content: center;
        width: 100%;
    }

    .offer-description-ul {
        list-style: none;
        padding: 0 10px 0 10px;
    }


    .offer-info-price-div {
        display: block;
    }

    .buy-now-btn {
        padding-block: 15px;
        padding-inline: 50px;
    }

}

/*> Management */

.table-delete-btn {
    color: black;
}

.add-product-btn {
    display: flex;
    justify-content: center;
    padding-block: 30px;
}

/*> Footer */

.footer-up {
    background-color: #2C3333;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}

.footer-up>div {
    width: 25%;
    padding: 10px 0;
    text-align: left;
}

.footer-up>div>ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-up>div>ul>li>a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.2s ease;
}

.imp-link-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.imp-link-list>li>a:hover {
    text-decoration: underline;
    color: #DDDDDD;
}

.follow-link-list {
    display: flex;
    gap: 30px;
}

.follow-link-list>li>a>svg {
    transition: 0.2s ease;
}

.follow-link-list>li>a:hover>svg {
    fill: #DDDDDD;
}

.footer-down {
    background-color: #222831;
    color: #ffffff;
    padding: 0;
    padding: 30px;
    text-align: center;
}

.footer-down>p {
    font-size: 15px;
    margin: 0;
    padding: 5px 0;
}

@media (max-width: 768px) {
    .footer-up {
        flex-direction: column;
        align-items: center;
    }

    .footer-up>div {
        width: 80%;
        text-align: center;
    }

    .follow-link-list {
        justify-content: center;
    }
}

/*> Contact Page  */

.contact-div {
    padding: 20px 150px 100px;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
}

/*> About Page & Disclaimer Page */
.about-div,
.disclaimer-div {
    padding: 20px 100px 100px;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
}

.about-title,
.disclaimer-title,
.contact-title {
    text-align: center;
}

@media (max-width: 768px) {

    .about-div,
    .disclaimer-div,
    .contact-div {
        padding: 10px 20px;
    }
}

/*> Login Page */